* {
  box-sizing: border-box;
}

body {
  font-family: 'MuseoModerno', cursive;
  line-height: 1.2;
  text-align: center;
  margin: 4rem 0;
  background: linear-gradient(
    to right bottom,
    #0cebeb,
    #20e3b2,
    #29ffc6
  );
}